<!-- <div id="fb-root"></div>
<script>
  FB.init({
    appId  : '103530109716629',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
</script> -->

<div id="content">
	<div id="header">
		<div id="title">
			<img src="/images/title.png" alt="AdSlap!It" />
			<img src="/images/TAGline.png" alt="AdSlap!It Tag Line" height="40" width="400"/>
		</div>
		<div id="logo">
			<img src="/images/logo.png" alt="adslapit logo" height="200" width="200" />
		</div>
	</div>
	<div id="main">
		<div id="tryit">
      <%= link_to image_tag("/images/button.png", :style =>"border: 0px; width: 100px"), new_session_path %>
		</div>
		<div id="maintitle">
			<h3>AdSlapIt! Members</h3>
		</div>
		<table>
			<th>Name</th><th>Credit</th>
			<tr>
			<td>Person 1</td><td>Example</td>
			</tr>
		</table>
	</div>
	<div id="footer">
		Copyright 2011  AdSlap!It
	</div>
</div>

