<!-- <div id="fb-root"></div>
<script>
  FB.init({
    appId  : '103530109716629',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
</script> -->
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Sign in with Facebook", new_session_path %>
